<h2>Create an account</h2>
<% if @user.errors.any? %>
  <div class="errors">
    <p class="error-count">
      The form has <%= pluralize(@user.errors.count, "error") %>.
    </p>
    <ul class= "error-list">
    <% @user.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
    </ul>
  </div>
<% end %>


<%= render 'form' %>

</br>
<%= link_to "Signup with LinkedIn", '/auth/linkedin', id: 'sign_in' %>
