.card-buttons button {
  display: inline-block;
  margin-top: 15px;
}

/*  PROSPECT CARD STYLES  */

.prospect-card {
  color: black;
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  min-width: 350px;
  max-width: 400px;
  text-align: left;
  font-size: 3em;
  font-weight: bold;
}

.prospect-card img {
  height: 80px;
  width: 80px;
}

.prospect-card p {
  margin: 10px 0 10px 0;
}

.prospect-card .card-header {
  background-color: #F7F778;
  padding: 10px;
  display: inline-block;
  margin: 0 15px 10px 0;
}

.prospect-card form {
  text-align: left;
  margin: 0;
}

.prospect-card input[type=text] {
  text-align: left;
  background-color : #F7F778;
  border: none;
  border-radius: 0;
  width: 95%;
  outline:0;
  height: 80px;
  font-size: 1em;
}

.prospect-card input[type=text]:hover {
  background-color: yellow;
}

.prospect-card .card-text {
  text-align: left;
  background-color : #F7F778;
  height: 80px;
  overflow: hidden;
  font-size: 30px;
  padding: 10px;
  line-height: 30px;
}

/*  RECRUITER CARD STYLES  */

.recruiter-card {
  color: black;
  background-color: white;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  min-width: 350px;
  max-width: 400px;
  text-align: left;
  font-size: 3em;
  font-weight: bold;
}

.recruiter-card img {
  height: 80px;
  width: 80px;
}

.recruiter-card p {
  margin: 10px 0 10px 0;
}

.recruiter-card .card-header {
  background-color: pink;
  padding: 10px;
  display: inline-block;
  margin: 0 15px 10px 0;
}

.recruiter-card form {
  text-align: left;
  margin: 0;
}

.recruiter-card input[type=text] {
  text-align: left;
  background-color: pink;
  border: none;
  border-radius: 0;
  width: 95%;
  outline:0;
  height: 80px;
  font-size: 1em;
}

.recruiter-card input[type=text]:hover {
  background-color: red;
}

.recruiter-card .card-text {
  text-align: left;
  background-color: pink;
  height: 80px;
  overflow: hidden;
  font-size: 30px;
  padding: 10px;
  line-height: 30px;
}
