#user-login-nav {
  font-size: 1em;
  margin: 1em;
}

.main-banner {
  margin-top: 2em;
  font-size: 4em;
  color: lightgrey;
}

.likes-received-container {
  display: inline-block;
}

.view-board-button {
  margin: 10px;
  font-size: 3em;
}

.main-board-container {
  width: 200em;
  height: 200em;
}

form {
  text-align: center;
}

body {
  text-align: center;
  color: white;
  background-image: asset-url("black_paper_@2X.png");
}

.error-container {
  color: red;
}

.profile-nav {
  color: black;
  margin: 10px;
  display: inline-block;
  padding: 10px;
  border: 2px solid white;
  text-align: left;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  left: 10px;
  position: fixed;
  z-index: 2;
}

.profile-nav img {
  height: 80px;
  width: 80px;
  border-radius: 15%;
  display: inline-block;
}

.profile-nav div {
  margin-left: 8px;
  display: inline-block;
}

.errors {
  color: red;
}
