.prospect-card {
  background-color: lightyellow;
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 200px;
}

.recruiter-card {
  background-color: pink;
  border: 1px solid black;
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: 200px;
  height: 200px;
}

form {
  text-align: center;
}

body {
  font-family: "PFDinTextCompProBold",Impact,Arial;
  text-align: center;
  background-color: aliceblue;
  width: 200em;
  height: 200em;
}

.error-container {
  color: red;
}

.profile-nav {
  margin: 10px;
  display: inline-block;
  padding: 10px;
  border: 2px solid white;
  border-radius: 15%;
  text-align: left;
  background-color: white;
  box-shadow: 10px 10px 5px lightgrey;
  left: 10px;
  position: fixed;
  z-index: 2;
}

.profile-nav img {
  height: 80px;
  width: 80px;
  border-radius: 15%;
}
